{% extends './base.html' %}
{% load static %}

{% block input %}
  <div class="container">
    <div class="row">
      <form method="POST">
        {% csrf_token %}
        <label style="color: aliceblue;">Enter Reddit URL...</label>
        <input class="u-full-width" style="margin-left: 0" type="text" name="url"
          placeholder="https://www.reddit.com/r/WatchPeopleDieInside/comments/gwqxh5/if_ikea_sold_pizzas/">
        <!-- <input type="submit" style="display: none;"> -->
        <input class="button-primary" id="submit" type="submit" value="Submit">
      </form>
    </div>
  </div>
  {% block progress %}{% endblock progress%}
  
{% endblock input %}
