{% extends './index.html' %}
{% load static %}

{% block progress %}
<div class="container">
  <div class="row">
    <div class='progress-wrapper' style="padding-top: 10px;">
      <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' style="height:30px; width: 0%; border-radius: 5px">&nbsp;</div>
      <div id="progress-bar-message" style="color: aliceblue;">Waiting for progress to start...</div>
    </div>
    <div id="celery-result"></div>
  </div>
</div>
{% endblock progress %}

{% block progress_bar %}
{% if task_id %}
<script type="text/javascript">
  // Progress Bar (JQuery)
  function processResult(resultElement, result) {
		
    $( resultElement ).append(
      $('<a id="result" target="_blank">').attr('href',result).text(result)
    );

    $( resultElement ).append(
      $('<button class="button-primary" onclick="copyFunc()"><span class="tooltiptext" id="myTooltip">Copy</span></button> <')
    );
		
	}

  $(function () {
    var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
    CeleryProgressBar.initProgressBar(progressUrl, {onResult: processResult,})
  });

  function copyFunc() {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($("#result").text()).select();
    document.execCommand("copy");
    $temp.remove();
    
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copied!";
    setTimeout(function(){tooltip.innerHTML = "Copy"},3000);

}

</script>
{% endif %}
{% endblock progress_bar %}